<div class="hero">
  <div class="inner">
    <div class="title-box">
      <h1>
        Antimicrobial resistance portal
      </h1>
      <div>
        Data resource
      </div>
    </div>
  </div>
</div>