include:
  - template: Jobs/Container-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml

stages:
  - sast
  - build
  - container_scanning
  - deploy_rc
  - qa
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}

.be-rules: &be-code-change-rules
  rules:
    - if: '$CI_DEPLOY_FREEZE == null && $CI_COMMIT_BRANCH == "pipeline"'
#      changes:
#        - backend/**/*
      when: always

.deploy-template:
  <<: *be-code-change-rules
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  before_script:
    - kubectl config use-context ${AGENT}
    - kubectl config set-context --current --namespace=${NS}

sast:
  stage: sast
  variables:
    SEARCH_MAX_DEPTH: '5'

Build:BE:Docker:
  stage: build
  <<: *be-code-change-rules
  image: docker
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t ${DOCKER_IMAGE} --no-cache -f backend/Dockerfile backend/
    - docker push ${DOCKER_IMAGE}
    - docker rmi ${DOCKER_IMAGE}
    - docker logout $CI_REGISTRY

container_scanning:
  stage: container_scanning
  variables:
    CS_IMAGE: $DOCKER_IMAGE
    CS_DOCKERFILE_PATH: backend/Dockerfile
    GIT_STRATEGY: fetch

Deploy:BE:RC:
  extends: .deploy-template
  stage: deploy_rc
  <<: *be-code-change-rules
  environment:
    name: development
  variables:
    AGENT: ${REVIEW_AGENT}
    NS: ${CI_COMMIT_REF_SLUG}
  script:
    - echo "The Script Deploy Live"
    - kubectl get ns

QA:BE:
  stage: qa
  <<: *be-code-change-rules
  image:
    name: grafana/k6:latest
    entrypoint: [ '' ]
  variables:
    HOST: amr.review.ensembl.org
  before_script:
    - echo "QA"
  script:
    - echo "QA"

Deploy:BE:Live:
  extends: .deploy-template
  stage: deploy
  environment:
    name: production
  variables:
    AGENT: ${PROD_AGENT}
    NS: ${PROD_NS}
  script:
    - echo "The Script Deploy Live"
    - kubectl get ns
