include:
  - template: Jobs/Container-Scanning.gitlab-ci.yml

stages:
  - build
  - container_scanning
  - deploy_rc
  - qa
  - deploy

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}

.be-rules: &be-code-change-rules
  rules:
    - if: '$CI_DEPLOY_FREEZE == null && $CI_COMMIT_BRANCH == "pipeline"'
#      changes:
#        - backend/**/*
      when: always

Build:BE:Docker:
  stage: build
  <<: *be-code-change-rules
  image: docker
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t ${DOCKER_IMAGE} --no-cache -f backend/Dockerfile backend/
    - docker push ${DOCKER_IMAGE}
    - docker rmi ${DOCKER_IMAGE}
    - docker logout $CI_REGISTRY

container_scanning:
  variables:
    CS_IMAGE: $CI_REGISTRY_IMAGE/tutorial-image

Deploy:BE:RC:
  stage: deploy_rc
  <<: *be-code-change-rules
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  variables:
    AGENT: ${REVIEW_AGENT}
    NS: ${CI_COMMIT_REF_SLUG}
  before_script:
    - echo "Before Script Deploy RC"
  script:
    - echo "The Script Deploy Live"

QA:BE:
  stage: qa
  <<: *be-code-change-rules
  image:
    name: grafana/k6:latest
    entrypoint: [ '' ]
  variables:
    HOST: amr.review.ensembl.org
  before_script:
    - echo "QA"
  script:
    - echo "QA"

Deploy:BE:Live:
  stage: deploy
  <<: *be-code-change-rules
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  variables:
    AGENT: ${PROD_AGENT}
    NS: ${PROD_NS}
  before_script:
    - echo "Before Script Deploy Live"
  script:
    - echo "The Script Deploy Live"