# Stages for Deployment Pipeline
stages:
  - build
  - deploy_rc
  - qa
  - deploy

# Global Variables
variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}
  GITLAB_ADVANCED_SAST_ENABLED: true

# Code changed rules for backend
# Rule to detect changes in backend directory
# This will be used to build/deploy pipeline for backend code
.be-rules: &be-code-change-rules
  rules:
    - if: '$CI_DEPLOY_FREEZE == null && $CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*
      when: always

# Code changed rules for frontend
# Rule to detect changes in frontend directory
# This will be used to build/deploy pipeline for frontend code
.fe-rules: &fe-code-change-rules
  rules:
    - if: '$CI_DEPLOY_FREEZE == null && $CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*
      when: always

# Code changed rules for backend
# Rule to detect changes in static assets nginx
# This will be used to build/deploy pipeline for nginx conf
.static-rules: &static-code-change-rules
  rules:
    - if: '$CI_DEPLOY_FREEZE == null && $CI_COMMIT_BRANCH == "test-qa"'
      changes:
        - frontend/nginx-conf/**/*
      when: always

# template for deploy context
# Sets k8s agent ( k8s cluster) and namespace to use for deployment
.deploy-template: &prepare-context
  image: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
  before_script:
    - kubectl config use-context ${AGENT}
    - kubectl config set-context --current --namespace=${NS}

# template for deploy context for backend
# update docker image in appropriate environment
.deploy-be-template:
  <<: *prepare-context
  script:
    - cd k8s/backend/
    - kustomize edit set image DOCKER_IMAGE=${DOCKER_IMAGE}
    - kubectl apply -k .

# template for deploy context for frontend
# publish static assets to appropriate environment
.deploy-fe-template:
  <<: *prepare-context
  script:
    - cd k8s/frontend/
    - sed -i "s#<PROJECT_ID>#${CI_PROJECT_ID}#g" publish_assets.yaml
    - sed -i "s#<JOB_ID>#${BUILD_JOB_ID}#g" publish_assets.yaml
    - kustomize edit set namesuffix -- -${CI_PROJECT_ID}-${BUILD_JOB_ID}
    - kubectl apply -k .

# Build docker image for backend
Build:BE:Docker:
  stage: build
  <<: *be-code-change-rules
  image: docker
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t ${DOCKER_IMAGE} --no-cache -f backend/Dockerfile backend/
    - docker push ${DOCKER_IMAGE}
    - docker rmi ${DOCKER_IMAGE}
    - docker logout $CI_REGISTRY

# Build docker image whenever there is a change in nginx conf
Build:FE:Docker:
  stage: build
  <<: *static-code-change-rules
  image: docker
  variables:
    DOCKER_IMAGE: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-fe
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - docker build -t ${DOCKER_IMAGE} --no-cache -f frontend/Dockerfile .
    - docker push ${DOCKER_IMAGE}
    - docker rmi ${DOCKER_IMAGE}
    - docker logout $CI_REGISTRY

# Build FE assets whenever there ia change in frontend directory
# Save the job ID to be used in publish asset job
Build:FE:Assets:
  stage: build
  <<: *fe-code-change-rules
  image: node:22.19
  script:
    - cd frontend
    - npm ci
    - npm run build
  after_script:
    - echo "BUILD_JOB_ID=${CI_JOB_ID}" >> build_static.env
  artifacts:
    name: build_artifacts
    paths:
      - frontend/dist/
    reports:
      dotenv: build_static.env

# Deploy backend to QA environment
Deploy:BE:RC:
  extends: .deploy-be-template
  stage: deploy_rc
  <<: *be-code-change-rules
  environment:
    name: development
  variables:
    AGENT: ${REVIEW_AGENT}
    NS: amr

# Publish static assets to QA environment
Publish:Assets:RC:
  extends: .deploy-fe-template
  stage: deploy_rc
  <<: *fe-code-change-rules
  environment:
    name: development
  variables:
    AGENT: ${REVIEW_AGENT}
    NS: amr

# Runs Smoke testing for Backend
QA:BE:
  stage: qa
  <<: *be-code-change-rules
  image:
    name: dockerhub.ebi.ac.uk/ensembl-web/deploy-tools:latest
    entrypoint: [ '' ]
  variables:
    HOSTNAME: http://amr.review.ensembl.org
  script:
    - k6 run scripts/testing/smoke-testing.js
    - qa_passed=1
    - successful_checks=$(jq '.["metrics"]["checks"]["values"]["passes"]' amr-smoke-test-summary.json)
    - if [ $successful_checks == 7 ]; then qa_passed=0; else qa_passed=1; fi
    - return $qa_passed
  artifacts:
    paths:
      - amr-smoke-test-summary.json
      - amr-smoke-test-summary.html
    when: always
    expire_in: 1 week
  when: on_success

# Deploy backend to live environment
# This is manual step it explicitly needs to be triggered by pressing a button in gitlab interface
# The job is scheduled only for main branch and when deploy freeze is not in place
Deploy:BE:Live:
  extends: .deploy-be-template
  <<: *be-code-change-rules
  stage: deploy
  environment:
    name: production
  variables:
    AGENT: ${PROD_AGENT}
    NS: amr
  rules:
    - if: '$CI_DEPLOY_FREEZE == null && $CI_COMMIT_BRANCH == "main"'
      changes:
        - backend/**/*
      when: manual

# Publish static assets to live environment
# This is manual step it explicitly needs to be triggered by pressing a button in gitlab interface
# The job is scheduled only for main branch and when deploy freeze is not in place
Publish:Assets:Live:
  extends: .deploy-fe-template
  stage: deploy
  <<: *fe-code-change-rules
  environment:
    name: production
  variables:
    AGENT: ${PROD_AGENT}
    NS: amr
  rules:
    - if: '$CI_DEPLOY_FREEZE == null && $CI_COMMIT_BRANCH == "main"'
      changes:
        - frontend/**/*
      when: manual
