<link rel="icon" href="/assets/images/favicon/favicon.ico" sizes="32x32">
<link rel="icon" href="/assets/images/favicon/embl.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png">