---
layout: layouts/base.njk
---
<link rel="stylesheet" href="/assets/css/layout.css" />
<script type="module" src="{{ 'src/assets/scripts/pages/main.ts' | getAssetOutputPath | transformWithHtmlBase }}"></script>

<header>
</header>
<main>
  {{ content | safe }}
</main>