<header>
  <nav>
    <ul>
      <li>
        <a href="https://www.ebi.ac.uk">
          <img alt="" src="/assets/images/icons/home.svg" />
          <span>
            EMBL-EBI home
          </span>
        </a>
      </li>
      <li>
        <a href="https://www.ebi.ac.uk/services">
          <img alt="" src="/assets/images/icons/services.svg" />
          <span>
            Services
          </span>
        </a>
      </li>
      <li>
        <a href="https://www.ebi.ac.uk/research">
          <img alt="" src="/assets/images/icons/research.svg" />
          <span>
            Research
          </span>
        </a>
      </li>
      <li>
        <a href="https://www.ebi.ac.uk/training">
          <img alt="" src="/assets/images/icons/tutorial.svg" />
          <span>
            Training
          </span>
        </a>
      </li>
      <li>
        <a href="https://www.ebi.ac.uk/about">
          <img alt="" src="/assets/images/icons/info.svg" />
          <span>
            About us
          </span>
        </a>
      </li>
    </ul>

    <span class="embl-ebi-logo">
      <img
        src="https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.3/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.svg"
        alt="" />
    </span>
  </nav>
</header>