.hero {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  height: 250px;
  background: url('/assets/images/hero/legionella.jpg');
  background-size: cover;
  background-position: 100% 50%;
  background-color: blue;
  padding: 0 var(--standard-gutter);

  .inner {
    --side-outdent: 180px;
    display: flex;
    flex-grow: 1;
    max-width: calc(var(--vf-layout--comfortable) + 2 * var(--side-outdent));
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    margin-top: -1em;
    margin-bottom: 0;
    font-size: 45px;
  }

  h1 + div {
    font-size: 30px;
  }
}