.hero {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  height: 250px;
  background: url('/assets/images/hero/hero.webp');
  background-size: auto 250px;
  background-color: black;
  background-repeat: no-repeat;
  padding: 0 var(--standard-gutter);

  .inner {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    margin-left: 370px; /* A magic number to position the heading relative to the background image */
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 42px;
    line-height: 1;
  }

  h1 + div {
    font-size: 30px;
  }
}