.hero {
  display: flex;
  justify-content: center;
  height: 300px;
  background: url('/assets/images/hero/hero.jpg');
  background-size: cover;
  background-color: #18974c;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0 var(--standard-gutter);

  .inner {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    max-width: calc(var(--vf-layout--comfortable));
  }

  .title-box {
    background-color: var(--color-white);
    width: max-content;
    padding: 35px 45px;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 1;
  }

  h1 + div {
    font-size: 21px;
  }
}