.custom-button {
    width: 69px;
    height: 25px;
    background: #47D147 0% 0% no-repeat padding-box;
    border: 1px solid #47D147;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
}
