/* 
  Layout for pages other than the home page

  Note:
    - header height is set to 35px
    - subheader height is set to 50px
    - the height of the visible part of the footer is 40px
*/

main {
  background-color: var(--color-medium-dark-grey);
  padding-top: 10px;
  padding-bottom: 20px;
}

amr-app {
  --amr-top-panel-min-height: 300px;
  --amr-bottom-panel-min-height: 400px;
  min-height: calc(var(--amr-bottom-panel-min-height) + var(--amr-top-panel-min-height));
  height: calc(100vh - 35px - 50px - 40px);
}