---
title: Antimicrobial resistance portal
description: Query, filter and download experimental AMR records and in silico predicitions of antimicrobial resistance
layout: layouts/main.njk
---

<amr-app></amr-app>

