.filters-container {
  position: relative;
}

.filters-toggle-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 3px 3px 6px #00000029;
}

.filters-panel-closed {
  flex-grow: 1;
  max-width: 100%;
  height: 54px;
  background: #ffffff;
  border-radius: 5px 0px 5px 5px;
  margin-right: 30px;
  box-shadow: 0px 3px 6px #00000029;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.filters-panel-open {
  flex-grow: 1;
  max-width: 100%;
  height: 360px;
  background: #ffffff;
  border-radius: 5px 0px 5px 5px;
  margin-right: 30px;
  box-shadow: 0px 3px 6px #00000029;
  box-sizing: border-box;

  display: flex;
  align-items: center;
}

.filters-chevron-icon-button {
  margin-right: 10px;
}

.filters-chevron-icon {
  width: 17px;
  height: 11px;
  color: #0099FF;
}

.main-filters-container {
  flex: 1;
  margin: 20px 60px 47px 30px;
}

.main-filters-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-filters-body {
  margin-top: 39px;
  overflow-x: auto;
  max-height: calc(100% - 47px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;
  margin-left: 19px;
}

.filters-panel-open-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex: 1;
}

.filter-views-nav-container {
  width: 195px;
  border-right: 1px solid #D4D9DE;
}

.filter-views-nav-body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
}

.filter-views-nav-header {
  margin-bottom: 14px;
  font-size: 12px;
  color: #1B2C39;
}

.other-filters-container {
  flex: 1;
  margin: 20px 60px 47px 30px;
  max-width: 100%;
}

.other-filters-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.other-filters-body {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-top: 29px;
  margin-left: 19px;
  column-gap: 40px;
  align-items: flex-start;
  flex-shrink: 0;
}

.other-filters-header-title {
  font-size: 12px;
  margin-right: 20px;
}

.other-filters-category-options {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(8, auto);
  gap: 10px 50px;
}

.other-filters-category-name {
  font-size: 11px;
  margin-bottom: 14px;
}
