/*
  The styles here are lifted from ensembl-elements-common package
  and slightly modified (e.g. there is a clear need for a max width on table column)
  The reason for lifting is that if a table is written in markdown,
  there is no way of adding a class to a table (without switching the parser).
*/

table {
  --_table-background: var(--table-background, var(--color-white));
  --_sort-arrow-width: 8px;
  --_sort-arrow-right-margin: 7px;
  border-collapse: collapse;
  background-color: var(--_table-background);

  & th {
    --_left-padding: var(--table-column-head-padding-left, 24px);
    text-align: var(--table-column-head-text-align, left);
    padding-left: var(--_left-padding);
    padding-right: var(--table-column-head-padding-right, 32px);
    padding-top: var(--table-column-head-padding-top, 6px);
    padding-bottom: var(--table-column-head-padding-bottom, 6px);
    font-size: var(--table-head-font-size, 11px);
    font-weight: var(--table-head-font-weight, var(--font-weight-light));
    box-shadow: inset 0 -1.5px 0 var(--table-head-border-color, var(--color-blue));
    background-clip: padding-box;
  }

  & th:has(ens-table-sortable-column-head) {
    padding-left: calc(var(--_left-padding) - var(--_sort-arrow-width) - var(--_sort-arrow-right-margin));
  }

  & td {
    max-width: 80ch;
    padding-left: var(--table-cell-padding-left, 24px);
    padding-right: var(--table-cell-padding-right, 32px);
    padding-top: var(--table-cell-padding-top, 9px);
    padding-bottom: var(--table-cell-padding-bottom, 9px);
    vertical-align: middle;
  }

  & tr + tr {
    border-top: 1px solid var(--table-row-border-color, var(--color-grey));
  }

  & tr:last-of-type:not(thead tr) {
    border-bottom: 1px solid var(--table-row-border-color, var(--color-grey));
  }

}