{% macro cardLink(params) %}
<div class="card-link">
  <a href="{{ params.href }}">
    <span>
      {{ params.linkText }}
    </span>
    <img src="/assets/images/icons/arrow-circle-right.svg" class="arrow-icon" />
  </a>
</div>
{% endmacro %}


