footer {
  max-width: 100%;
  height: 17px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 19px 60px;
  color: #ffffff;
  font-size: 12px;
}

.footer-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-left-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-right-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.dashed-underline {
  border-bottom: 1px dashed;
  padding-bottom: 2px;
}

.bold {
  font-weight: bold;
}
