.card-link {
  padding: 16px;
  border-bottom: 8px solid var(--vf-color--green);
  box-shadow: 0px 2px 4px 0px;
  background-color: var(--color-white);

  a {
    font-size: 21px;
    color: var(--vf-color--blue);
    font-size: 21px;
  }

  a:hover, a:visited {
    color: var(--vf-color--blue--dark);
  }
}