.card-link {
  padding: 16px;
  border-bottom: 8px solid var(--vf-color--green);
  box-shadow: 0px 2px 4px 0px;
  background-color: var(--color-white);

  &:hover {
    box-shadow: 0px 2px 4px 1px;
  }

  a {
    display: flex;
    align-items: center;
    font-size: 21px;
    color: var(--vf-color--blue);
  }

  a:hover, a:visited {
    color: var(--vf-color--blue--dark);
  }

  a:hover {
    text-decoration: underline;
  }

  a svg {
    width: 24px;
    height: 24px;
    fill: var(--vf-color--blue);
    margin-left: 10px;
    transition: transform 0.125s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }

  .arrow-icon {
    width: 24px;
    height: 24px;
    filter: var(--filter-black-to-vf-color-blue);
    margin-left: 10px;
    transition: transform 0.125s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }

  a:hover .arrow-icon, a:visited .arrow-icon {
    filter: var(--filter-black-to-vf-color-blue-dark);
  }

  a:hover .arrow-icon {
    transform: translateX(4px);
  }
}