.subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: var(--color-white);
  padding: 0 var(--standard-gutter);

  a:has(img[src$=".svg"]) {
    line-height: 1;
  }

  a.active img {
    filter: none;
  }

  .left-wrapper {
    display: flex;
    align-items: center;
  }

  .home-icon {
    height: 18px;
    width: 18px;
    filter: var(--filter-black-to-ensembl-blue);
  }

  .title-wrapper {
    display: flex;
    align-items: baseline;
  }

  .portal-title {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
    padding: 0 30px 0 20px;
    border-right: 1px solid var(--color-black);
  }

  .page-title {
    font-size: 14px;
    padding-left: 30px;
  }

  .right-wrapper {
    display: flex;
    column-gap: 30px;
    align-items: center;
  }

  .data-release-label {
    font-size: 11px;
    font-weight: var(--font-weight-light);
  }

  .data-release-date {
    font-size: 12px;
    margin-left: 1ch;
  }

  .circle-icon {
    height: 18px;
    width: 18px;
    filter: var(--filter-black-to-ensembl-blue);
  }
}

amr-header-release {
  visibility: hidden;
}

amr-header-release[data-fetched] {
  visibility: visible;
}