.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #9aa7b1;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
  margin: 8px 30px 0px 30px;
}

.text-button {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}
