---
title: Anti-microbial resistance portal
layout: layouts/main.njk
---

<script type="module" src="/assets/scripts/pages/main.ts"></script>

<style>
body {
  background-color: var(--color-medium-dark-grey);
}
</style>

<amr-app></amr-app>