header {
  width: 100%;
  height: 62px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 30px;
  color: #1b2c39;
}

.header-left-group {
  display: flex;
  align-items: center;
  gap: 0px;
}

.header-home-icon {
  width: 25px;
  height: 22px;
  color: #0099ff;
}

.header-logo {
  width: 99px;
  height: 30px;
  margin-left: 45px;
}

.header-text-group {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}

.header-right-group {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-title {
  font-weight: bold;
  font-size: 16px;
  border-right: 1px solid black;
  padding-right: 30px;
}

.header-subtitle {
  font-size: 14px;
}

.header-latest {
  font-weight: lighter;
  font-size: 11px;
}

.header-date {
  font-size: 12px;
}
