.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 10px; /* space between checkbox and label text */
  cursor: pointer;
  width: max-content;
}

.custom-checkbox input[type='checkbox'] {
  display: none;
}

.custom-checkbox-label {
  width: 13px;
  height: 13px;
  border: 1px solid #9aa7b1;
  font-size: 10px;
  box-sizing: border-box;
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
  position: relative;
}

.custom-checkbox input[type='checkbox']:checked + .custom-checkbox-label {
  content: '';
  background-color: #47d147;
  border-color: #47d147;
  border: 1px solid #9aa7b1;
}
