:root {
  /* ===== PROPERTIES SHARED WITH ENSEMBL SITE ===== */
  
  /* COLORS */
  --color-black: #1b2c39;
  --color-soft-black: #374148;
  --color-white: #fff;
  --color-off-white: #fefefe;

  --color-blue: #0099ff;
  --color-light-blue: #33adff;
  --color-ice-blue: #e5f5ff;
  --color-teal: #327C89;
  --color-duckegg-blue: #96d0c9;
  --color-neon-blue: #8ef4f8;

  --color-light-grey: #f1f2f4;
  --color-medium-light-grey: #d4d9de;
  --color-grey: #b7c0c8;
  --color-medium-dark-grey: #9aa7b1;
  --color-dark-grey: #6f8190;

  --color-red: #d90000;
  --color-dark-pink: #eb768a;
  --color-purple: #ca81ff;

  --color-orange: #ff9900;
  --color-mustard: #cc9933;
  --color-dark-yellow: #f8c041;

  --color-green: #47d147;
  --color-lime: #84fa3a;

  /* SHADOWS */
  --shadow-color: rgb(0 0 0 / 0.4);
  --global-box-shadow-color: var(--color-medium-light-grey);
  --form-field-shadow: inset 2px 2px 4px -2px var(--color-medium-dark-grey),
    inset -2px -2px 1px -2px var(--color-dark-grey);
  
  /* FONT WEIGHTS */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600; /* only for the monospace font, i.e. IBM Plex Mono */
  --font-weight-bold: 700;
  --font-weight-dark: 900;

  /* FONT FAMILY SETTINGS */
  --font-family-body: Lato, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  --font-family-monospace: 'IBM Plex Mono', 'Liberation Mono', Courier, monospace;

  /* WHITE SPACE */
  --standard-gutter: 30px;
  --half-gutter: calc(var(--standard-gutter) / 2);
  --double-standard-gutter: calc(var(--standard-gutter) * 2); /* 60px */
  --global-padding-left: calc(var(--standard-gutter) * 4); /* 120px */
  --global-padding-bottom: 90px;

  /* FONT SIZES */
  --body-font-size: 13px;
  --body-line-height: 1.5;

  /* ===== CUSTOM PROPERTIES FROM VISUAL FRAMEWORK ===== */

  /* VISUAL FRAMEWORK COLOURS */
  --vf-color--grey--lightest: #d0d0ce;
  --vf-color--grey--dark: #54585A;
  --vf-color--grey--darkest: #373a36;

  --vf-color--blue: #3b6fb6;
  --vf-color--blue--dark: #193f90;

  --vf-color--green: #18974c;

  --vf-ui-color--white: #ffffff;

  /* VISUAL FRAMEWORK SPACING */
  --vf-layout--comfortable: 1280px;
  --page-grid-gap: 2rem;
  --vf-card-container__grid--size: 18rem;


  /* PROPERTIES SPECIFIC TO THE AMR SITE */
  --panel-border-radius: 5px;


  /* CSS FILTERS */
  /* generated by https://angel-rs.github.io/css-color-filter-generator  */

  /* Can be applied to a black svg image to change its colour */
  --filter-black-to-ensembl-blue: brightness(0) saturate(100%) invert(43%) sepia(34%) saturate(3588%) hue-rotate(181deg) brightness(100%) contrast(108%);
  --filter-black-to-white: brightness(0) saturate(100%) invert(100%) sepia(39%) saturate(0%) hue-rotate(173deg) brightness(109%) contrast(100%);

  --filter-black-to-vf-grey-darkest: brightness(0) saturate(100%) invert(12%) sepia(2%) saturate(3431%) hue-rotate(60deg) brightness(96%) contrast(72%);
  --filter-black-to-vf-color-blue: brightness(0) saturate(100%) invert(42%) sepia(10%) saturate(3118%) hue-rotate(175deg) brightness(93%) contrast(89%);
  --filter-black-to-vf-color-blue-dark: brightness(0) saturate(100%) invert(15%) sepia(61%) saturate(3285%) hue-rotate(215deg) brightness(94%) contrast(89%);
}