@import url('./default/defaults.css');

@import url('./layouts/main-layout.css') layer(base);

@import url('./components/embl-ebi-header.css') layer(components);
@import url('./components/subheader.css') layer(components);
@import url('./components/embl-ebi-footer.css') layer(components);

@import url('./documentation/table.css') layer(components);



/* Note: some of the amr-panel styles are copied from shared-panel-styles.ts */
amr-panel {
  display: block;
  width: calc(100% - var(--standard-gutter) - var(--double-standard-gutter));
  margin-left: var(--standard-gutter);
  border-radius: var(--panel-border-radius);
  background-color: var(--color-white);
  padding-right: var(--standard-gutter);
  padding-left: var(--double-standard-gutter);
  padding-top: 50px;
  padding-bottom: 50px;


  h1, h2, h3, h4, h5, h6, p, ul {
    max-width: 80ch;
  }

  ul, ol {
    padding-left: 34px;
  }

  /* items of the top-level and second-level unordered list have black solid disks as list markers */
  ul li {
    padding-left: 5px;
    list-style-type: disc;
  }

  /* top-level list items have a margin-bottom, if not immediately followed by a nested list */
  ul li:not(:has(+ ul, + ol)),
  ol li:not(:has(+ ul, + ol)) {
    margin-bottom: var(--line-height);
  }

}

