@layer resets, base, components;

@import url('./resets.css') layer(resets);

@import url('./custom-properties.css') layer(base);
@import url('./fonts.css') layer(base);
@import url('./global.css') layer(base);

@import url('./header.css') layer(components);
@import url('./footer.css') layer(components);
@import url('./home/hero.css') layer(components);
@import url('./home/home.css') layer(components);
@import url('./components/card-link.css') layer(components);